
<div class="row">
  <div class="col">
  </div>
  <div class="box col">
    <br />
    <%= simple_form_for @list do |f| %>
      <%= f.input :title %>
      <%= f.submit 'Create', class: 'btn btn-primary'%>
    <% end %>
    <br />
  </div>
  <div class="col">
  </div>
</div>
