<p id="notice"><%= notice %></p>


  <% @lists.each do |list| %>
    <div class="lists">
      <div class="box">
        <%= link_to list.title, list %>
        <ul class="list-group">
          <% list.tasks.each do |task| %>
            <li class="list-group-item">
              <input class="toggle" type="checkbox">
              <%= task.title %>
            </li>
          <% end %>
        </ul>
      </div>
  <% end %>
    <div class="box">
      <%= link_to 'New List', new_list_path %>
    </div>
  </div>
